body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8; /* Color de fondo general */
}

#productos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

h2 {
    color: #333;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #e44d26; /* Color naranja */
}

p {
    color: #666;
    line-height: 1.5;
    align-items:normal;
}

/* Agrega estilos adicionales según sea necesario para otras secciones */
